@import './appStyle.scss';

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.container {
  display: block;
  background: url('../images/tick.png');
  background-size: 100px;
  width: 512px;
  height: 512px;
  font-family: 'MyFont';
}
